[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/protocol-v2"]
	path = lib/protocol-v2
	url = https://github.com/aave/protocol-v2
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "lib/aave-v3-origin"]
	path = lib/aave-v3-origin
	url = https://github.com/aave-dao/aave-v3-origin
